ion-card {
    margin-inline: 5px;
    margin: 5px;
}
ion-list {
    padding-top: 0px;
    padding-bottom: 0px;
}

ion-label {
    white-space: break-spaces !important;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.foto-avatar {
    height: 100px;
    width: 100px;
}

.title {
  display: flex;
  justify-content: center;
}

ion-card.custom-card {
  background: linear-gradient(to bottom right, #eafbff, #d4f8fc);
}
